
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: .6rem;
    text-align: left;
}

th {
    background-color: white;
}

input[type="text"] {
    padding: .5rem;
    margin: 2rem 3rem 0 0;
    border: 1px solid gray;
    
}

input[type="button"] {
    background-color: green;
    color: white;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: rgb(1, 73, 1);
}